extends ../layout

block content
  //- Highcharts graph will be rendered in here
  div#container

  div
    table
      thead
        tr: th Levels
      tbody
        each level, i in levels
          tr
            td
              #{level.time} - #{level.value}

block js
  //- Here we inject data from server to client
  script
    window.levels = !{JSON.stringify(levels)};
  script(src='/components/jquery/dist/jquery.js')
  script(src='/components/highcharts-release/highcharts.js')
  script(src='/js/highcharts.js')